<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/|version|/phpunit.xsd"
         backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="../dependencies/autoload.php"
         cacheTokens="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="true"
         printerClass="PHPUnit\TextUI\ResultPrinter"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         testSuiteLoaderClass="PHPUnit\Runner\StandardTestSuiteLoader"
         timeoutForSmallTests="1"
         timeoutForMediumTests="10"
         timeoutForLargeTests="60"
         colors="true"
         verbose="false">
   <testsuites>
      <testsuite name="all">
         <directory>../tests/units/*Test.php</directory>
      </testsuite>
      <testsuite name="units">
         <directory>../tests/units/*Test.php</directory>
         <exclude>../tests/units/DumperTest.php</exclude>
         <exclude>../tests/units/CasesTest.php</exclude>
         <exclude>../tests/units/SymfonyYamlTest.php</exclude>
      </testsuite>
      <testsuite name="cases">
         <file>../tests/units/CasesTest.php</file>
      </testsuite>
      <testsuite name="dumper">
         <file>../tests/units/DumperTest.php</file>
      </testsuite>
      <testsuite name="symfony">
         <file>../tests/units/SymfonyYamlTest.php</file>
      </testsuite>
   </testsuites>
</phpunit>